//color palette
$blue: #072b56;
$white: #fff;
$grey: #e8e8e8;
$black: #000000;
$background-color:#FAFAFA;

//fonts
$font-size-standard: 16px;
$font-size-base: 1rem;
$font-size-small: 0.875rem;
$font-size-medium: 1.125rem;
$font-size-large:1.5rem;
$font-weight-heading: 600;
$font-weight-text: 500;
$font-family: sans-serif;

$link-color: #075ab3;
$input-border: 0.5px solid $black;
$container-box-shadow: 0px 3px 6px #00000029;;